@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --poppins: "Poppins", sans-serif;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 215, 215);
  font-family: var(--poppins);
}